h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald'
}

body {
    font-family: 'Oswald';
}

h3{
    text-shadow: coral 0.15px 0.15px;
}

/* div#ourProductsSlideShow{
    height: 175px;
} */

/* h4#ourProjectsHeading{
    margin-top: 50px;
    font-size: 50px;
    text-transform: uppercase;
} */
/* div#ourProductsSlideShow{
    outline: groove white 30px 30px;
} */
/* body{
    background: rgb(161,164,147);
    background: linear-gradient(90deg, rgba(161,164,147,1) 0%, rgba(146,174,145,1) 35%, rgba(145,164,169,1) 100%, rgba(0,255,158,1) 100%);
} */
/* .w3-address{
    text-shadow: whitesmoke 0.15px 0.15px;
}  */

.w3-icon{
    text-shadow: white 0.5px 0.5px;
}

.w3-bg-black-bis{
    background-color: hsl(0, 0%, 7%);
}

.w3-bg-black-ter{
    background-color: hsl(0, 0%, 14%);
}

.w3-c-black-ter{
    color: hsl(0, 0%, 14%);
}

.w3-tag:hover{
    color: black !important;
    background-color: lightgrey !important;
}
/* logo */
img#codemusLogo{
    width: 1em;
    height: 1em;
    box-shadow: lightcoral 2px 2px;
}

img{
    width: 150px;
    height: 112.5px;
}
