h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald'
}

body {
    font-family: 'Oswald';
}

h3{
    text-shadow: coral 0.15px 0.15px;
}

.w3-border-double-black-ter{
    border-style: double;
    background: hsl(0, 0%, 14%);
}

.w3-icon{
    text-shadow: white 0.5px 0.5px;
}

.w3-bg-black-bis{
    background-color: hsl(0, 0%, 7%);
}

.w3-bg-black-ter{
    background-color: hsl(0, 0%, 14%);
}

.w3-c-black-ter{
    color: hsl(0, 0%, 14%);
}

.w3-tag:hover{
    color: black !important;
    background-color: lightgrey !important;
}

img.w3-team-photo{
    width: 70%; 
    height: 55%;
    margin-left: 15%;
}

/* logo */
img#waterfloLogo{
    float: none;
}

img#codemusLogo{
    width: 1em;
    height: 1em;
    box-shadow: lightgrey 2px 2px;
    float: none;
}

img{
    width: 100px;
    height: 75px;
    float: left;
    clear: both;
}

/* projectImageSlider */
h4#ourProjectsHeading{
    font-weight: bolder;
}

div#ourProductsSlideShow{
    position: relative;
}

div#ourProductsSlideShow span#closeSlide{
    right: 1.5em;
    top: 1em;
    color: red;
    font-weight: bolder;
    background: black;
    display: none;
}

div#projectList ul{
    list-style-type: none;
    font-variant: small-caps;
    font-size: 1.25em;
    color:  #f1f1f1;
} 
div#projectList ul span.projects{
    background: black;
    padding-left: 5px;
    padding-right: 15px;
    box-shadow: #f1f1f1 5px 2px;
} 

div#imageSlider{
    display: none;
} 

div#imageSlider img#image{
    width: 320px;
    height: 220px;
    margin: auto;
    border: solid #f1f1f1 20px;
}

/* contact */
div#contact{
    padding-bottom: 2.5em;
}