h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald'
}

body {
    position:relative;
    font-family: 'Oswald';
}
/* themes */
.theme{
    width: 1em;
    height: 3em;
    position: absolute;
    top: 0px;
    right: 0px;
}

.theme span{
    visibility: hidden;
}

#lightGreyTheme{
    top: 0px;
    right: 0px;
    background: #f1f1f1 !important;
    box-shadow: #f0e68c  -2px 2px 4px;
}

#khakiTheme{
    top: 3.5em;
    right: 0px;
    background: #f0e68c !important;
    box-shadow: #f1f1f1  -2px 2px 4px;
}

h3{
    text-shadow: coral 0.15px 0.15px;
}

.w3-border-double-black-ter{
    border-style: double;
    background: hsl(0, 0%, 14%);
}

.w3-icon{
    text-shadow: hsl(100, 100%, 100%) 0.5px 0.5px;
}

.w3-bg-black-bis{
    background-color: hsl(0, 0%, 7%);
}

.w3-bg-black-ter{
    background-color: hsl(0, 0%, 14%);
}

.w3-c-black-ter{
    color: hsl(0, 0%, 14%);
}

.w3-tag:hover{
    color: black !important;
    background-color: lightgrey !important;
}

.w3-invisible{
    visibility: hidden;
}

img.w3-team-photo{
    width: 70%; 
    height: 55%;
    margin-left: 15%;
}

/* logo */
img#waterfloLogo{
    float: none;
}

img#codemusLogo{
    width: 1em;
    height: 1em;
    box-shadow: lightgrey 2px 2px;
    float: none;
}

img{
    width: 100px;
    height: 75px;
    float: left;
    clear: both;
}

/* projectImageSlider */
.url {
    cursor: url(../pics/ball.png),auto;
}

h4#ourProjectsHeading{
    font-weight: bolder;
}

div#ourProductsSlideShow{
    position: relative;
}

div#ourProductsSlideShow span#closeSlide{
    right: 1.5em;
    top: 1em;
    color: hsl(0, 0%, 95%);
    font-weight: bolder;
    background: hsl(0, 0%, 0%);
    display: none;
}

div#projectList ul{
    list-style-type: none;
    font-variant: small-caps;
    font-size: 1.25em;
    color:  hsl(0, 0%, 95%);
} 
div#projectList ul span.projects{
    background: hsl(0, 0%, 0%);
    padding-left: 5px;
    padding-right: 15px;
    box-shadow: hsl(0, 0%, 95%) 5px 2px;
} 

div#imageSlider{
    display: none;
} 

div#imageSlider img#image{
    width: 320px;
    height: 220px;
    margin: auto;
    border: solid transparent 20px; 
    /* border maybe redundant^^ */
}

/* news */
#news{
    border: 0px 0px;
}

.news{
    list-style-position: outside;
    list-style-type: none;
    font-size: 1.1em;
}
.news::before{
    content: '¦>';
    color: red;
}

/* contact */
div#contact{
    padding-bottom: 2.5em;
}